name: Promote

on: workflow_dispatch

jobs:
  promote:
    name: Promote
    if: ${{ github.ref == 'refs/heads/develop'}}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set Git config
      run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"
          
    - name: Merge master back to dev
      run: |
          git fetch --unshallow
          git checkout master
          git pull
          git merge --no-ff master -m "chore(merge): Merge branch 'develop' into 'master'"
          git push
