name: Promote

on: workflow_dispatch

jobs:
  promote:
    name: Promote
    if: ${{ github.ref == 'refs/heads/develop'}}
    runs-on: ubuntu-latest

    steps:
    - name: Log branch name
      run: |
        echo "Branch name: ${{ github.ref }}"
